/* =====================================
               #default  css
 =======================================*/
 *{
    padding: 0;
    margin: 0;
}
.fix-width{
    max-width: 1420px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Work Sans', sans-serif;
}
/* =====================================
               #header section  css
 =======================================*/
 .header {
    background: url(./img/ia_200000019.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 263px 0;
    position: relative;
    z-index: 1;
}
.header::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .6);
}
.header-main{
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header-logo{
    width: 35%;
}
.header-logo img{}
.header-menu{
    width: 65%;
}
.menu-ul {
    text-align: right;
}
.menu-li{
    display: inline-block;
    transition: 1s;
}
.menu-a {
    display: inline-block;
    color: #fff;
    line-height: 61px;
    font-size: 15px;
    transition: .4s;
    position: relative;
    padding: 0 20px;
}
.menu-a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #b3945b;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center center;
}
.menu-a:hover::after{
    width: 100%;
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
}
.menu-a:hover{
    color: #b3945b;
}
.fix-color{
    color: #b3945b;
}
.menu-li{
    position: relative;
}
.drop-ul {
    position: absolute;
    top: 96%;
    left: 0;
    background: #fff;
    width: 280px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: center center;
}

.menu-li:hover > .drop-ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    
    

}
.drop-li{
    display: block;
    
}
.drop-a{
    display: block;
    transition: .4s;
    color: #000;
    padding: 25px 0 !important;
}
.drop-a:hover{
    background: #ddd;
    color: #b3945b;
}
.banner-text{
    color: #fff;
}
.banner-text h1 {
    font-size: 105px;
    font-weight: 700;
}
.banner-text h4 {
    font-size: 39px;
    font-weight: 400;
    margin-top: -30px;
    position: relative;
}
.banner-text h4::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 583px;
    height: 2px;
    width: 100px;
    background: #ddd;
}
.banner-text h4::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 583px;
    height: 2px;
    width: 100px;
    background: #ddd;
}

.submit-button {
    display: inline-block;
    background: #b3945b;
    color: #fff;
    padding: 16px 29px;
    border-radius: 100px;
    border: none;
    font-size: 19px;
    font-weight: 500;
    margin-top: 50px;
    transition: all .5s;
}
.banner-text .submit-button:hover{
    color: #b3945b;
    background: #fff;
}


/* =====================================
               #service section  css
 =======================================*/
 .service{
     background: #f8f8f8;
     padding: 100px 0;
 }
 .services{}
 .service-item {
    background: #fff;
    width: 23.87%;
    margin-right: 1.5%;
    box-sizing: border-box;
    padding: 71px 18px;
}
.service-item:last-child{
    margin-right: 0;
}
 .service-item .service-image{}
 .service-item .service-image img {
    width: 125px;
    /* transition: all 1s; */
}
.hoverimage{
    transition: all 1s;
}
 .service-heading {
    margin-top: 18px;
}
 .service-heading h4 {
    font-size: 18px;
    font-weight: 600;
    color: #141313cf;
}
.service-heading p {
    color: #767676;
    font-size: 18px;
    margin-top: 12px;
}
.service-heading .submit-button {
    border-radius: 6px;
    padding: 11px 28px;
    margin-top: 18px;
    transition: .3s;
}
/* service section hover  img*/
.service-item:hover .hoverimage{
    transform: rotateY(360deg);
}

.service-heading .submit-button:hover{
    transform: translateY(12px);
    background: #000;
    color: #fff;
}


/* =====================================
               #testimonial section  css
 =======================================*/
 .testimonial{
     background: #f8f8f8;
    padding: 120px 0;
}
 .testimonials-section{}
 .testimonial-video{
     width: 48%;
 }
 .testimonial-header{
     width: 48%;
 }
 .testimonial-header h3 {
    font-size: 45px;
    color: #000000d1;
    margin: 10px 0 20px 0;
}
 .testimonial-header h3 span{
     color: #b3945b;
 }
 .testimonial-header p {
    color: #767676;
    font-size: 20px;
    margin-bottom: 20px;
}
.testimonial-header summary {
    color: #403c3c;
    font-size: 22px;
}

.testimonial-header .submit-button {
    background: #000;
    border-radius: 0;
    padding: 20px 37px;
    margin-top: 26px;
    transition: .4s;
}
.testimonial-header .submit-button:hover{
    background: #b3945b;
    color: #fff;
}


/* =====================================
               #contact section  css
 =======================================*/
 .contact {
    background: #ddd;
    background: url(./img/ia_200000022.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 143px 0;
}
 .contacts-section {
    width: 700px;
}
.contact-title{}
.contact-title h4 {
    font-size: 32px;
    word-spacing: 3px;
    margin-bottom: 20px;
}
.contact-title p {
    color: #767676;
    font-size: 20px;
}

 .contact-form{
    margin-top: 70px;
}
.contact-form .input-type {
    margin-bottom: 20px;
    border: #4a4141c9;
    padding: 19px 20px;
    box-shadow: 2px 1px 7px 0 rgb(0 0 0 / 10%);
}
.contact-form textarea{
    height: 200px;
}
.contact-form .submit-button {
    padding: 20px 52px;
    font-weight: 400;
    border-radius: 0;
}
.contact-form .w-100{
    width: 100%;
} 


/* =====================================
               #footer section  css
 =======================================*/
 .footer {
    background: #6d6d6d;
    padding: 50px 0;
}
 .footer-section {
    color: #fff;
}
 .footer-section .footer-text{}
 .footer-section p {
    font-size: 18px;
}
 .footer-icon{}
 .footer-icon .social-ul{
     text-align: right;
 }
 .footer-icon .social-li {
    display: inline-block;
    margin-left: -5px;
}
.footer-icon .social-a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 0 14px;
}